.leftBar {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.leftBar:hover {
    background-color: lightgray;
    border-radius: 10px;
}

.leftBar > h4 {
    margin-left: 20px;
    font-weight: 600;
}

.leftBar > .MuiSvgIcon-root {
    font-size: xx-large;
    color: #7E9FE8 ;
}

