.LoginStudentBody {
    display: flex;
    flex-direction: column;
}

.LoginStudentBody > label {
    color: #003D7C;
    font-size: 20px;
}

.LoginStudentBody > input {
    margin-left: 10px;   
    margin-right: 10px;
}

.LoginStudentBody  button {
    color: #003D7C;
    font-size: 20px;
    background-color:#7E9FE8 ;
    width: fit-content;
}

.LoginStudentBody  button:hover{
    background-color: #003D7C;
    color: white;
    font-size: 20px;
}


.LoginStudentBody  h1 {
    color: #003D7C;
    font-size: 40px;
    text-align: center;
}
