.homeHeader {
    position: sticky;
    top: 0;
    z-index: 999;
}

.homeBody {
    display: flex;
    padding-top: 30px;
    width: 100%
}



.homeLeftBar {
    flex: 20%;
}


.homeCenter {
    flex: 60%;
}
.homeRightBar {
    flex: 30%;
}