.profileTop {
    height: 600px;
    position: flex;
    background-color: #1f3d85;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.profileCoverImg {
    width: 100%;
    object-fit: cover;
    height: 500px;
    position: relative;
    top: 0;
    left: 0;
}

.profileAvatar {
    position: relative;
    top: -75px;
    left: 300px;
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid;
    border-color: white;    
}

.profileUserInfo {
    display: flex;
    flex-direction: column;
    margin-left: 475px;
    margin-top: -160px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
    color:#ffa544;
}

.profileUserName {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.profileBottom {
    display:flex;
    width: 100%;
}

.profileBottomLeft {
    display: flex;
    flex-direction: column;
    flex: 40%;
}

.profileBio {
    display: flex;
    flex-direction:column;
    height: 400px;
    width: 100%;
    font-family: 'JetBrains Mono', monospace;
    background-color: white;
    border: 3px solid #efefef;
    margin-top: 20px;
    border-radius: 10px;
}

.bioTitle {
    height: 50px;
    width: 100%;
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
    font-weight: bold;
    border-bottom: 3px solid #efefef;
}

.bioIcon {
    position: absolute;
    left: 530px;
    top: 720px;
}

.profileAlbum {
    margin-top: 30px;
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 3px solid #efefef;
    background-color: white;
    border-radius: 10px;
}

.albumTitle {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    font-size: larger;
    font-weight: bold;
    font-family: 'JetBrains Mono', monospace;
    font-size: 30px;

}

.profileBottomRight {
    flex: 60%;
}