.header {
    height: 80px;
    width: 100%;
    background-color:#1f3d85;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.headerLeft {
    font-weight: bold;
    cursor: pointer;
    margin-left: 30px;
    align-items: center;
    width: 30%;
    flex: 3;
    color:#EF7C00;
    font-size: calc(10px + 2vmin);
}

.searchBar{
    width: 80%;
    height: 30px;
    background-color: white;
    display:flex;
    border-radius: 20px;
    align-items: center;
}

.searchInput {
    font-size: 15px;
    border: none;
    width: 50%;
}

.searchInput:focus{
    outline: none;
}

.headerCenter {
    flex: 5;
}

.searchBar {
    width: 50%;
    height: 40px;
    display: flex;
    text-align: center;
}

.headerLinks {
    display: flex;
}

.headerRight {
    margin-right: 20px;
    width: 30%;
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.headerIcon {
    display:flex;

}

.iconItem {
    margin-right: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.iconBadge {
    color: white;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    top: 20px;
    right: -5px;
    align-items: center;
    display:flex;
    justify-content: center;
    position: absolute;
}
