.profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f5f5f5;
}

.profileHeader {
    position: sticky;
    top: 0;
    z-index: 999;
}

.profileBody {
    display: flex;
}

.profileBodyLeft {
    flex: 20%;
}

.profileBodyMid {
    flex: 60%;
}

.profileBodyRight {
    flex: 30%;
    position: sticky;
}