.rightBarFriend {
    display: flex;
    align-items: center;
    border-bottom: 5px solid #efefef;
}

.rightBarAvatarContainer {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
    position: relative;
}

.rightBarAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 30px;
    object-fit: cover;
}

.rightBarOnline{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: -2px;
    right: 0;
    border: 2px solid white;
}

.rightBarUserName{
    font-family: 'JetBrains Mono', monospace;
}